<div class="article_form">
    <%= image_tag(avatar_url(current_writer , size: 42), class: "profile_photo") %>  
    <%= link_to current_writer.name, current_writer, id: 'writer_name' %>
    <%=  form_for @article do |f| %>
         <%= f.text_field :title, placeholder:  @article.title, required: true,
                                            :minlength => 10, :maxlength => 100 %> <br />
         <%= f.trix_editor :body, placeholder: @article.body, required: true,
                                            :minlength => 500, :maxlength => 10000 %><br />
        <%= f.submit class: "btn btn-outline-dark" %>
    <% end %>
</div>